<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/CSS/style.css">
    <title>Signin</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="flex items-center justify-between">
                <div class="left flex-1 ">
                    <div class="branding">
                        <a href="home.html">ProjectCase.io</a>
                    </div>
                </div>
                <div class="right flex items-center">
                    <a href="#">About</a>
                    <a href="#">FAQ</a>
                    <a href="#">Contact</a>
                    <a href="login.html"><button class="btn btn-secondary">Login</button></a>
                    <a href="signin.html"><button class="btn btn-primary">Join</button></a>
                </div>
            </nav>
        </div>
    </header>
    <!-- starting the main login page box-->
    <section>
        <div class="rectOutr">
            <div class="rectInner">
                <div class="login flex items-center justify-between">
                    <h2>Create an account</h2>
                </div>
                <div class="link flex items-center">
                    <button class="btn3"><img src="/public/images/Icon awesome-google.png" alt=""></button>
                    <button class="btn3"><img src="/public/images/Icon awesome-github.png" alt=""></button>
                </div>
                <div class="quicklink">
                    <h1><span>or</span></h1>
                </div>
                <div class="loginbox">
                    <form>
                        <p>Email</p>
                        <input type="text" name=" " placeholder="Enter Email">
                        <p>Password</p>
                        <input type="password" name=" " placeholder="Enter Password">
                        <input type="submit" name="SignUp" value="SignUp">
                    </form>
                    <div class="extra">
                        <a href="#">Already a user?</a>
                        <a href="login.html">Login</a>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </section>
</body>

</html>